venv/
*.egg-info
.vscode
*.csv
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
.DS_Store
.python-version
*.db
# C extensions
*.so
mana_workshop/
data/raw_data/lc_fticr/*
2025*/
_LAST


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Raw data files
*.raw