.pyc  
.pyo  
*.so  
__pycache__/  
*.pkl  
res/  
doc/  
*.ems
.DS_Store 
pyvenv.cfg  
.vscode/  
.pytest_cache/
.vs/
dist/  
corems.egg-info/  
res/data/
.eggs/
db/
env/
enviroMS.egg-info/
desktop.ini 
dist/